[submodule "nvim/pack/gllera/start/vim-tmux-navigator"]
	path = nvim/pack/gllera/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "nvim/pack/gllera/start/vim-vinegar"]
	path = nvim/pack/gllera/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
