*

!/.*
!/awesome
!/awesome/**
!/dunst
!/dunst/**
!/fusuma
!/fusuma/**
!/git
!/git/**
!/i3
!/i3/**
!/i3status
!/i3status/**
!/jesseduffield
!/jesseduffield/**
!/kak
!/kak/**
!/nvim
!/nvim/**
!/ranger
!/ranger/**
!/rofi
!/rofi/**
!/scripts
!/scripts/**
!/systemd
!/systemd/**
!/tmux
!/tmux/**
!/xorg
!/xorg/**
!/zsh
!/zsh/**

