*

!/.gitignore
!/README.md
!/user-dirs.dirs
!/user-dirs.locale

!/.scripts
!/.scripts/**
!/alacritty
!/alacritty/**
!/dunst
!/dunst/**
!/fontconfig
!/fontconfig/**
!/fonts
!/fonts/**
!/fusuma
!/fusuma/**
!/git
!/git/**
!/i3
!/i3/**
!/i3blocks
!/i3blocks/**
!/nvim
!/nvim/**
!/picom
!/picom/**
!/rofi
!/rofi/**
!/tmux
!/tmux/**
!/xorg
!/xorg/**
!/zsh
!/zsh/**
