[submodule "vim-tmux-navigator"]
	path = .config/nvim/pack/gllera/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim-vinegar"]
	path = .config/nvim/pack/gllera/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
