/chromium
/google-chrome
/dconf
/menus
/Code
/vlc
/configstore
/docker
/systemd/user/default.target.wants
/pulse
/cmus
/balena-etcher-electron
/easytag
/gtk-2.0
/autorandr
/caddy

/jesseduffield/lazygit/state.yml

.*
!.gitignore

