[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
Requires=wait-for-network.service
After=wait-for-network.service

[Service]
WorkingDirectory=/home/gllera/services/caddy
ExecStart=/usr/bin/caddy run --environ
ExecReload=/usr/bin/caddy reload
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=default.target
