[Unit]
Description=VSCode Server

[Service]
ExecStart=/bin/sh -c 'exec code-server --bind-addr localhost:1$(id -u) --auth none --disable-updates'
Restart=always
Type=simple

[Install]
WantedBy=default.target
