[Unit]
Description=Docker Application Container Engine (Rootless)

[Service]
ExecStart=/bin/sh -c 'exec dockerd-rootless.sh --experimental --storage-driver=overlay2'
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutSec=0
RestartSec=2
Restart=always
StartLimitBurst=3
StartLimitInterval=60s
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
Type=simple

[Install]
WantedBy=default.target
